<div id="index" class="container col-xl-9">
<header id="header">
    <nav *ngIf="!identity" class="navbar-light bg-light"  style="background-color: #ff5733!important;">
    <ul class="nav justify-content-end">
    <li class="nav-item">
      <a style="color:white;" class="nav-link active" [routerLink]="['/login']">
        Login
      </a>
    </li>
    <li class="nav-item">
      <a style="color:white;" class="nav-link" [routerLink]="['/register']">
        Registro
      </a>
    </li>
  </ul>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/']">SUPERPERSONAS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">
          <fa-icon icon="home" aria-hidden="true"></fa-icon>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/superpersonas-new']" *ngIf="identity && identity.sub">
          <fa-icon icon="user-plus" aria-hidden="true"></fa-icon>
          Añadir SuperPersona
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/user-edit']" *ngIf="identity && identity.sub">
          <fa-icon icon="cog" aria-hidden="true"></fa-icon>
          Ajustes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/login', 1]" *ngIf="identity && identity.sub">
          <fa-icon icon="sign-out-alt" aria-hidden="true"></fa-icon>
          Salir
        </a>
      </li>
    </ul>
  </div>
</nav>
</header>



<router-outlet></router-outlet>

</div>