<div class="col-md-12">
	<div *ngIf="!identity || identity == null">
		Inicia Sesión para acceder a más opciones
	</div>

	<div class="col-md-12" *ngIf="identity && identity.sub">
		<!--BUSCADOR-->
	
		<div class="all-superpersonas">
			<div class="loader" *ngIf="loading == 'show'">
				Cargando lista de Superpersonas...
			</div>

			<table class="table table-hover table-stripped" id="superpersonas-list" *ngIf="superpersonas && superpersonas.length >=1" >
				<tr>
					<th>Nombre</th>
					<th>Ciudad</th>
					<th>Fuerza</th>
					<th>Inteligencia</th>
					<th>Salud</th>
					<th>Tipo</th>
					<th>Operaciones</th>
				</tr>
				<tr *ngFor="let superpersona of superpersonas" class="superpersona-item">
					<td>
					<a [routerLink]="['superpersona', superpersona.id]">{{superpersona.name}}</a>
					</td>
					<td>{{superpersona.residenceCity}}</td>
					<td *ngIf="superpersona.power <= '30'">
					<span style="color:red!important">			{{superpersona.power}}</span>
					</td>
					<td *ngIf="superpersona.power > '30' && superpersona.power <50">
					<span style="color:orange!important">			{{superpersona.power}}</span>
					</td>
					<td *ngIf="superpersona.power >= '50' && superpersona.power <80">
					<span style="color:#E6D500!important">			{{superpersona.power}}</span>
					</td>
					<td *ngIf="superpersona.power >= '80'">
					<span style="color:#33ff33!important">			{{superpersona.power}}</span>
					</td>
					<td *ngIf="superpersona.intelligence <= '30'">
					<span style="color:red!important">			{{superpersona.intelligence}}</span>
					</td>
					<td *ngIf="superpersona.intelligence > '30' && superpersona.intelligence <50">
					<span style="color:orange!important">			{{superpersona.intelligence}}</span>
					</td>
					<td *ngIf="superpersona.intelligence >= '50' && superpersona.intelligence <80">
					<span style="color:#E6D500!important">			{{superpersona.intelligence}}</span>
					</td>
					<td *ngIf="superpersona.intelligence >= '80'">
					<span style="color:#33ff33!important">			{{superpersona.intelligence}}</span>
					</td>
					<td *ngIf="superpersona.health <= '30'">
					<span style="color:red!important">			{{superpersona.health}}</span>
					</td>
					<td *ngIf="superpersona.health > '30' && superpersona.health <50">
					<span style="color:orange!important">			{{superpersona.health}}</span>
					</td>
					<td *ngIf="superpersona.health >= '50' && superpersona.health <80">
					<span style="color:#E6D500!important">			{{superpersona.health}}</span>
					</td>
					<td *ngIf="superpersona.health >= '80'">
					<span style="color:#33ff33!important">			{{superpersona.health}}</span>
					</td>

					<td>{{superpersona.kind}}</td>
					<!--<td>{{superpersona.id}}</td>-->
					<td><a [routerLink]="['superpersona-edit', superpersona.id]" class="btn btn-warning">Editar</a>&nbsp;&nbsp;<button class="btn btn-danger" (click)="deleteSuperpersona(superpersona.id)">Borrar</button>
					</td>

					<!--Modal Window Delete Superpersonas-->
					<!--<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">¡ATENCIÓN!{{superpersona.id}}</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <p class="text-danger">La superpersona se va a borrar. ¿Desea continuar? {{superpersona.id}}</p>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
					        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteSuperpersona(superpersona.id)">Si</button>
					      </div>
					    </div>
					  </div>
					</div>-->
				</tr>
			</table>

			



			<ul class="pagination" *ngIf="superpersonas && superpersonas.length >= 1">
				<li class="page-item">
					<a [routerLink]="['/index', pagePrev]" class="page-link" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				<li class="page-item" *ngFor="let page of pages">
					<a class="page-link" [routerLink]="['/index', page+1]">{{page+1}}</a>
				</li>
				<li class="page-item">
					<a [routerLink]="['/index', pageNext]" class="page-link" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>

	</div>
</div>
