<div class="col-md-12">
	<h3>{{title}}</h3>
	
	<div class="identity-alert alert alert-success" role="alert" *ngIf="identity && identity.sub">
		Bienvenido, {{identity.email}}
	</div>

	<div class="identity-alert alert alert-danger" role="alert" *ngIf="identity && identity.data">
		Lo sentimos, no tienes permiso para acceder a nuestra app, o no te has identificado correctamente!! Inténtalo de nuevo!!
	</div>

	<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 no-padding">
		<p>
			<label>Email:</label>
			<input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required />
			<span *ngIf="!email.valid && email.touched">El email no es válido</span>
		</p>

		<p>
			<label>Contraseña:</label>
			<input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required>
			<span *ngIf="!password.valid && password.touched">La contraseña no es válida</span>
		</p>

		<input type="submit" value="Entrar" class="btn btn-primary" [disabled]="!loginForm.form.valid"/>
	</form>
</div>