<div class="col-md-12">
	<h3>{{title}}</h3>

	<div class="alert alert-success" role="alert" *ngIf="status == 'success'">
		Tu registro se ha completado. Clic <a [routerLink]="['/login']" >aquí</a> para acceder.
	</div>

	<div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
		ERROR. No se ha podido completar tu registro.
	</div>

	<form #registerForm="ngForm" (ngSubmit)="onSubmit();registerForm.reset();" class="col-md-6 no-padding">
		<p>
			<label>Nombre</label>
			<input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required />
			<span *ngIf="!name.valid && name.touched">Nombre introducido no válido</span>
		</p>

		<p>
			<label>Apellidos</label>
			<input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required />
			<span *ngIf="!surname.valid && surname.touched">Apellidos introducidos no son válidos</span>
		</p>

		<p>
			<label>Email</label>
			<input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required />
			<span *ngIf="!email.valid && email.touched">Email introducido no válido</span>
		</p>

		<p>
			<label>Contraseña</label>
			<input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" required />
			<span *ngIf="!password.valid && password.touched">Contraseña introducida no válida</span>
		</p>

		<input type="submit" value="Darme de Alta" class="btn btn-primary" [disabled]="!registerForm.form.valid"/>
	</form>
</div>


