<div class="col-md-12">
	<h3>{{title}}</h3>
	
	<div class="alert alert-success" role="alert" *ngIf="status == 'success'">
		La SuperPersona se ha añadido correctamente
	</div>

	<div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
		ERROR. No se ha podido crear la SuperPersona
	</div>
	

	<form #superpersonaNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 no-padding">
		<p>
			<label>Nombre</label>
			<input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="superpersona.name" required />
			<span *ngIf="!name.valid && name.touched">El nombre no es válido.</span>
		</p>

		<p>
			<label>Ciudad de Residencia</label>
			<input type="text" class="form-control" name="residenceCity" #residenceCity="ngModel" [(ngModel)]="superpersona.residenceCity" />
		</p>	
		<p>
			<label>Fuerza</label>
			<input type="number" min="0" max="100" value="0" class="form-control" name="power" #power="ngModel" [(ngModel)]="superpersona.power" required/>
		</p>
		<p>
			<label>Inteligencia</label>
			<input type="number" min="0" max="100" value="0" class="form-control" name="intelligence" #intelligence="ngModel" [(ngModel)]="superpersona.intelligence" required/>
		</p>

		<p>
			<label>Salud</label>
			<input type="number" min="0" max="100" value="0" class="form-control" name="health" #health="ngModel" [(ngModel)]="superpersona.health" required/>
		</p>

		<p>
			<label>Tipo</label>
			<select class="form-control" name="kind" #kind="ngModel" [(ngModel)]="superpersona.kind">
				<option value="Superheroe">SuperHeroe</option>
				<option value="Villano">Villano</option>
			</select>
		</p>

		<input type="submit" value="{{title}}" class="btn btn-primary" [disabled]="!superpersonaNewForm.form.valid" />

	</form>
</div>
