<div class="col-md-12">
	
	<div class="col-md-12" *ngIf="superpersona">
		
		
		<div style="margin-top:15px!important;" class="card superpersona-data">
			<div class="card-body">
				<h4 class="card-title">
					{{superpersona.name}}
				</h4>
				<h5 class="card-subtitle mb-2 text-muted">
					{{superpersona.residenceCity}}
				</h5>
				<p class="card-text">Superpersona introducida por UserID:  <b>{{superpersona.createdBy}}</b></p>
				<p class="card-text">Superpersona modificada por UserID:  <b>{{superpersona.modifiedBy}}</b></p>
				<p class="card-text">Superpersona introducida en la fecha: <b>{{superpersona.createdAt.timestamp | generateDate}}</b></p>
				<p class="card-text">Superpersona modificada en la fecha: <b>{{superpersona.updatedAt.timestamp | generateDate}}</b></p>
			</div>
		</div>
	</div>
</div>