<div class="col-md-12">
	<h3>{{title}}</h3>
	
	<div class="alert alert-success" role="alert" *ngIf="status == 'success'">
		Tus datos se han modificado correctamente.
	</div>

	<div class="alert alert-danger" role="alert" *ngIf="status == 'error'">
		ERROR. No se han podido realizar tus modificaciones.
	</div>

	<form #updateForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-6 no-padding">
		<p>
			<label>Nombre</label>
			<input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="user.name" required />
			<span *ngIf="!name.valid && name.touched">El nombre introducido no es válido</span>
		</p>

		<p>
			<label>Apellidos</label>
			<input type="text" class="form-control" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required />
			<span *ngIf="!surname.valid && surname.touched">Los apellidos introducidos no son válidos</span>
		</p>

		<p>
			<label>Email</label>
			<input type="email" class="form-control" name="email" #email="ngModel" [(ngModel)]="user.email" required />
			<span *ngIf="!email.valid && email.touched">El email introducido no es válido</span>
		</p>

		<p>
			<label>Contraseña</label>
			<input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="user.password" />
		</p>

		<input type="submit" class="btn btn-primary" value="Modificar datos" [disabled]="!updateForm.form.valid" />

	</form>
</div>